/* В рішенні обов’язково повинні бути використані селектори:
за елементом
за класом
за атрибутом
селектор сусідів “+”
:hover
:active
:checked
:before і :after
:nth-child
Для плавних анімацій використай CSS-код: */

* {
  transition: all 0.1s ease-in;
}

body {
  font-family: 'Roboto', sans-serif;
}

.shopping-list {
  width: 100%;
  height: 100vh;
}

/* ***** header ***** */

.header {
  background-color: #4a4f56;
}

.header__title--wrapper {
  max-width: 276px;
  padding-top: 19px;
  margin: 0 auto 4px;
}

.header__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: #ff8984;
  /* border: 1px solid red; */
}

.header__content--wrapper {
  max-width: 139px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.header__content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: #ff8984;
}

/* ***** main ***** */
.main {
  background-color: #3b3f45;
}

.form {
  padding-top: 20px;
  margin: 0 auto 45px;
  max-width: 534px;
}

.form__item {
}

k
/* active: */
/* text-decoration: line-through; */
