* {
  transition: all 0.1s ease-in;
}

body {
  font-family: 'Roboto', sans-serif;
}

.shopping-list {
  width: 100%;
  height: 100vh;
}

/* ***** header ***** */

.header {
  background-color: #4a4f56;
}

.header__title--wrapper {
  max-width: 276px;
  padding-top: 19px;
  margin: 0 auto 4px;
}

.header__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: #ff8984;
}

.header__content--wrapper {
  max-width: 139px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.header__content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: #ff8984;
}

/* ***** main ***** */
.main {
  background-color: #3b3f45;
}

.form {
  padding-top: 20px;
  margin: 0 auto 45px;
  max-width: 534px;
}

.form__item {
  border: 1px solid #3b3f45;
}

.form__item:nth-of-type(odd) {
  background-color: #88839e;
}
.form__item:nth-of-type(even) {
  background-color: #9b96ac;
}

.form__item:hover {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  background-color: #625e77;
}

.form__label {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: left;
}

.form__span {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: left;
}

/* OPTION #1 */
input[type='checkbox']:checked + label.strikethrough {
  text-decoration: line-through;
}

/* ***** checkbox ***** */

.container {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #fff;
}

/* OPTION #2*/
.container input:checked ~ input {
  text-decoration: line-through;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ***** footer ***** */

.footer {
  margin: auto;
  max-width: 534px;
  padding: 1%;
  background-color: #4a4f56;
}

.footer__content {
  max-width: 107px;
  margin: 12px auto;
  color: #ff8984;
}
